<main>
    <section class="checklist__categories">

        <ol>
            {{>categoryItem}}
            {{>categoryItem}}
            {{>categoryItem}}
        </ol>
    </section>
</main>
</section>