<section class="checklist">
    <div>
        <h3>Checklist</h3>
        <p>0 van de 4</p>
    </div>

    <ol>
        <li class="checklist__item">
            <div>
                <input type="checkbox" id="check1" name="check1" value="check1">
                <label for="check1">Checklist item 1</label>
            </div>
            <div>
                <h4>ERVAREN</h4>
                <p>Ervaar zelf hoe het is om je telefoon te gebruiken met een visuele beperking. Pak je telefoon erbij en zet VoiceOver of TalkBack aan.</p>
                <details>
                    <summary>
                        <img src="https://unsplash.it/40/40" alt="">
                        <p>Tips & Tricks</p>
                    </summary>
                    <ul>
                        <li>Je zet je schermlezer aan op je telefoon via instellingen. Om meer te weten over het aanzetten van een schermlezer op je telefoon, ga dan naar appt.nl/kennisbank/hulpmiddelen/schermlezer.
                        Om te navigeren maak je gebruik van verschillende gebaren. Hier lees je meer over op appt.nl.</li>
                        <li>Om te navigeren maak je gebruik van verschillende gebaren. Hier lees je meer over op appt.nl</li>
                    </ul>
                </details>
                <figure>
                    <img src="https://unsplash.it/40/40" alt="">
                </figure>
            </div>
        </li>
    </ol>
</section>