<section class="checklist">
    <div>
        <h3>Checklist</h3>
        <p>0 van de 4</p>
    </div>

    <ol>
        <li class="checklist__item">
            <div class="checklist__checkbox">
                <input type="checkbox" id="check1" name="check1" value="check1">
                <label for="check1"></label>
            </div>
            <div class="checklist__content">
                <h4>ERVAREN</h4>
                <p>Ervaar zelf hoe het is om je telefoon te gebruiken met een visuele beperking. Pak je telefoon erbij en zet VoiceOver of TalkBack aan.</p>
                <details>
                    <summary>
                        <p>Tips & Tricks</p>
                    </summary>
                    <ul>
                        <li>Je zet je schermlezer aan op je telefoon via instellingen. Om meer te weten over het aanzetten van een schermlezer op je telefoon, ga dan naar <a href="appt.nl/kennisbank/hulpmiddelen/schermlezer">appt.nl/kennisbank/hulpmiddelen/schermlezer</a>.</li>
                        <li>Om te navigeren maak je gebruik van verschillende gebaren. Hier lees je meer over op <a href="appt.nl">appt.nl</a></li>
                    </ul>
                </details>
                <div class="checklist__users">
                    <figure>
                        <img src="https://unsplash.it/40/40" alt="">
                    </figure>
                    <figure>
                        <img src="https://unsplash.it/40/40" alt="">
                    </figure>
                    <figure>
                        <img src="https://unsplash.it/40/40" alt="">
                    </figure>
                </div>
            </div>
        </li>
    </ol>
</section>