<section class="checklist__sidebar">
    <div>
        <p>Voortgang project</p>
        <h3>0% toegankelijk</h3>
            <progress
            class='progress'
                value='50'
                min='0'
                max='100'
            ></progress>
        <button class="hide" class="sidebar__buttons">Project Afsluiten</button>
    </div>

    <div>
        <h3>Project info</h3>
        <p>Project info komt hier te staan. versie: 1.2.4.</p>
    </div>

    <div>
        <h3>Doelgroep</h3>
        <p>Doelgroep van de applicatie komt hier te staan</p>
    </div>

    <div>

        <h3>Niveau Toegankelijkheid</h3>
        <button class="btn">Niveau 2 (WCAG niveau AA)</button>
    </div>
    <div>
        <h3>Collega's op dit project</h3>
        <ul>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Sofia</p>
                <p>(Jij)</p>
            </li>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Thomas</p>
                <p>Researcher</p>
            </li>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Anna</p>
                <p>Projectleider</p>
            </li>
        </ul>
    </div>
</section>