<aside class="checklist__sidebar">
    <button class="sidebar__infoicon">
        <i class="icon fa-regular fa-circle-question"></i>
    </button>
    <section>
        <h2>Progress project</h2>
        <h3>0% accessible</h3>
            <progress
            class="progress"
                value="50"
                min="0"
                max="100"
            ></progress>
        <button class="hide" class="sidebar__buttons">Close project</button>
    </section>

    <section>
        <h3>Project info</h3>
        <p>Project info is displayed here. version: 1.2.4.</p>
    </section>

    <section>
        <h3>Audience</h3>
        <p>The target audience is displayed here</p>
    </section>

    <section>

        <h3>Level accessibility</h3>
        <button class="btn">Level 2 (WCAG level AA)</button>
    </section>
    <section>
        <h3>Co-workers on this project</h3>
        <ul>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Sofia</p>
                <p>(You)</p>
            </li>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Thomas</p>
                <p>Researcher</p>
            </li>
            <li>
                <img class="sidebar__users" src="https://unsplash.it/40/40" alt="">
                <p>Anna</p>
                <p>Team lead</p>
            </li>
        </ul>
    </section>
</aside>