<section class="loading hide">
    <div class="loading__container">
        <h2>Retrieving content...</h2>

        <div class="loading__loader">
            <img class="loader__head" src="/images/hulphond.svg" alt="dog head">
            <img class="loader__body" src="/images/hulphond_body_standing.svg" alt="dog body">
            <img class="loader__tail" src="/images/hulphond_tail.svg" alt="dog tail">
        </div>

        <p class="loading__text"><span>Did you know</span> ..making your website accessible to everyone is not only the right thing to do, but it also makes good business sense.</p>
    </div>
</section>