<header class='mobile-header'>

    <div>
    {{! todo: if icoontje rechtsboven laad dit in }}
        {{#if true}}
            <a href='' aria-label="open settings">
				{{> icons/settings}}
			</a>
        {{/if}}
    </div>

    <div>
        <p>Welcome, Pis</p>
        <h1>Dashboard</h1>
    </div>
	
	{{!-- decorative spans --}}
	<span></span>
	<span></span>
	<span></span>
</header>