<aside class='navigation'>
    <a class='logo' href='#'><h1 class='logo logo--text'><img
                class='logo__img'
                src='https://unsplash.it/40/40'
                alt='Appclusive'
            /></h1></a>

    <div class='searchbar'>
        <button class='searchbar__button' type='submit'><img
                src="https://unsplash.it/8/8"
            ></img></button>
        <input class='searchbar__input' type='text' placeholder='Zoeken' />
    </div>

    <nav class='navigator'>
        <ul class='navigator navigator--list'>
            <li class='navigator__projects'>
                <a href='#'>
                    <img src='https://unsplash.it/40/40' />
                    <p>Alle projecten</p>
                    <img src='https://unsplash.it/40/40' />
                </a>

                <ol>
                    <li><a href='#'>Project 1</a></li>
                    <li><a href='#'>Project 2</a></li>
                    <li><a href='#'>Project 3</a></li>
                </ol>
            </li>
            <li class='navigator__item'><a href='#'><img
                        src='https://unsplash.it/40/40'
                    />Recent</a></li>
            <li class='navigator__item'><a href='#'><img
                        src='https://unsplash.it/40/40'
                    />Archief</a></li>
            <li class='navigator__item'><a href='#'><img
                        src='https://unsplash.it/40/40'
                    />Instellingen</a></li>
            <li class='navigator__account'>
                <a href='#'>
                    <img src='https://unsplash.it/40/40' />
                    <img src='https://unsplash.it/40/40' />
                    <p>Sofia</p>
                    <p>sofia@gmail.com</p>
                    <img src='https://unsplash.it/40/40' />
                </a>
            </li>
        </ul>
    </nav>
</aside>