<aside class="desktop-nav">
    <a class="logo" href="#">{{>icons/logo}}</a>

    <div class="searchbar">
        <button class="searchbar__button" type="submit">{{>icons/search}}</button>
        <input class="searchbar__input" type="text" placeholder="Zoeken" />
    </div>

    <nav>
		<ul>
			<li class="all-projects active">
				<a href="/">{{>icons/tilesicon}}All projects</a>

				<details>
					<summary>{{> icons/arrowup}}</summary>
					<ol>
						<li class="active"><a href="#">Project 1</a></li>
						<li><a href="#">Project 2</a></li>
						<li><a href="#">Project 3</a></li>
					</ol>
				</details>
			</li>
			<li><a href="#">{{> icons/recent}}Recent</a></li>
			<li><a href="#">{{> icons/archive}}Archive</a></li>

			<li><a href="#">{{> icons/settings}}Settings</a></li>
			<li>
				<a href="#">
                    <img src="https://unsplash.it/40/40" />
                    <div>
                    	<p>Sofia</p>
                    	<p>sofia@gmail.com</p>
                    </div>
                </a>
				<a href="/logout">{{> icons/login}}</a>
			</li>
		</ul>
    </nav>
</aside>

<header class="mobile-nav">
    <div>
    {{! todo: if icoontje rechtsboven laad dit in }}
        {{#if true}}
            <a href="" aria-label="open settings">
				{{> icons/settings}}
			</a>
        {{/if}}
    </div>

    <div>
        <p class="project__subtitle">Welcome, Pis</p>
        <h1>Dashboard</h1>
    </div>
	
	{{!-- decorative spans --}}
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
</header>