<aside class="nav nav--desktop">
    <a class="logo" href="#">{{>icons/logo}}</a>

    <div class="searchbar">
        <button class="btn" type="submit">{{>icons/search}}</button>
        <input type="text" placeholder="Zoeken" />
    </div>

    <nav>
		<ul class="menu">
			<li class="menu__item menu__item--all active">
				<a href="/">{{>icons/tilesicon}}All projects</a>

				<details>
					<summary>{{> icons/arrowup}}</summary>
					<ol>
						<li class="menu__item active"><a href="#">Project 1</a></li>
						<li class="menu__item"><a href="#">Project 2</a></li>
						<li class="menu__item"><a href="#">Project 3</a></li>
					</ol>
				</details>
			</li>
			<li class="menu__item"><a href="#">{{> icons/recent}}Recent</a></li>
			<li class="menu__item"><a href="#">{{> icons/archive}}Archive</a></li>
			<li class="menu__item">
				<a href="#">{{> icons/settings}}Settings</a>

				<div class="menu__item--profile">
					<a href="#">
						<img src="https://unsplash.it/40/40" />
						<div>
							<p>Sofia</p>
							<p>sofia@gmail.com</p>
						</div>
					</a>

					<a href="/logout">{{> icons/login}}</a>
				</div>
			</li>
		</ul>
    </nav>
</aside>

<header class="nav nav--mobile">
    {{! todo: if icoontje rechtsboven laad dit in }}
	{{#if true}}
		<a href="#" class="btn btn--nav" aria-label="open settings">
			{{> icons/settings}}
		</a>
	{{/if}}

    <section class="nav__title">
        <p>Welcome, Pis</p>
        <h1>Dashboard</h1>
    </section>
	
	{{!-- decorative spans --}}
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
</header>