<header class="page-title">
    
    {{#if subtitle}}
        <p class="page-title__subtitle">{{ subtitle }}</p>
    {{/if}}

    <h1>
        {{#if backBtn}}
            <a href="/">{{> icons/arrowleft}}</a>
        {{/if}}
        {{ title }}</h1>
</header>