<header class="page-title">
    
    {{#if subtitle}}
        <p class="page-title__subtitle">{{ subtitle }}</p>
    {{/if}}

	<div>
		{{#if backBtn}}
			<a href="{{backBtn}}" aria-label="back">{{> icons/arrowleft}}</a>
		{{/if}}

		<h1>{{ title }}</h1>

		{{#if horizontalTitle}}
			<p class="page-title__subtitle">{{horizontalTitle}}</p>
		{{/if}}
	</div>
</header>