<header class="page-title">
    
    {{#if subtitle}}
        <p class="page-title__subtitle">{{ subtitle }}</p>
    {{/if}}

	<div>
		{{#if head.backUrl}}
			<a href="{{head.backUrl}}" aria-label="back"><i class="icon fa-solid fa-chevron-left"></i></a>
		{{/if}}

		<h1>{{ title }}</h1>

		{{#if horizontalTitle}}
			<p class="page-title__subtitle">{{horizontalTitle}}</p>
		{{/if}}
	</div>
</header>