<main class="layout layout__error">

	<section class="error__content">
		<h2>Whoops! We couldn't find this page...</h2>

		<p>This page doesn't exist or was removed.</p>

		<a href="/" class="btn">Return to the homepage</a>
	</section>

	<section class="error__visual">
		<img src="/images/dog-sad.svg" alt="Sad looking dog">
	</section>
</main>