<main class='layout layout__account-settings'>
    <h1>Settings</h1>

    <section class='profile-settings'>
        <h2>Profile settings</h2>

        <div>
            <form action=''>
                <label for='email'>New Email</label>
                <input id='email' name='email' type='email' />

                <label for='password'>Password</label>
                <input id='password' name='password' type='password' />

                <button type='submit'>Save</button>
            </form>
        </div>
    </section>

    <section class='theme-settings'>

    </section>
</main>