<div class="project-checklist-container">

    <main>

        <section class="checklist">
            <div>
                <h3>Checklist</h3>
                <p>0/4</p>
            </div>


        <ol>
            {{!-- for each task insert listItem and pass data --}}
            {{#each tasks}}
                {{#each this.items}}
                    {{> listItem this}}
                {{/each}}
            {{/each}}

            </ol>
        </section>

        {{>checklistSidebar}}

    </main>

</div>