<main class="layout layout__categories">

    <header>
        <p class="project__subtitle">Project overview</p>
        <h1><a href="/">{{> icons/arrowleft}}</a>Project 1</h1>
    </header>

    <section class="checklist__categories">
        <p>To make things easy, we've grouped the numerous checklist items into categories for you.</p>

        <ol class="categories">
            {{#each categories}}
                {{>categoryItem this}}
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar}}

</main>
