<section class="checklist">
    <div>
        <h3>Checklist</h3>
        <p>0/4</p>
    </div>


    <ol>
        {{!-- for each task insert listItem and pass data --}}
        {{#each tasks}}
            {{> listItem this}}
        {{/each}}

    </ol>
</section>