<main class="layout layout__categories">
    <section class="checklist__categories">
        <p>Some text explaining these little cards and their purpose... A subtitle if you will</p>
                
        <hr class="divider">

        <ol class="categories">
            {{>categoryItem}}
            {{>categoryItem}}
            {{>categoryItem}}
        </ol>
    </section>

    {{>checklistSidebar}}

</main>
