<main class="layout layout__categories">

    {{>pageTitleHeader title=project.title subtitle="Project overview" backBtn=true}}

    <section class="checklist__categories">
        <p>To make things easy, we've grouped the numerous checklist items into categories for you.</p>

        <ol class="categories">
            {{#each categories}}
				<li class="category__item">
					{{>categoryItem categories=../categories projectId=../project.project_id}}
				</li>
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar title="Project progress" project=project}}

</main>
