<main class="layout layout__categories">

    {{!-- #TODO: title based on pid --}}
    {{>pageTitleHeader title="Project 1" subtitle="Project overview" backBtn=true}}

    <section class="checklist__categories">
        <p>To make things easy, we've grouped the numerous checklist items into categories for you.</p>

        <ol class="categories">
            {{#each categories}}
                {{>categoryItem this}}
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar}}

</main>
