<main class="layout layout__checklist">

    <section class="checklist">
        <div class="checklist__title">
            <h2>{{projectInfo.title}}</h2>
			<p> - </p>
			<h3>{{category}}</h3>
            <p class="counter">0/4</p>
        </div>

        <ol>
            {{#each tasks}}
				<li class="checklist__item">
					{{> listItem pid=../projectInfo.project_id checklist=this}}
				</li>
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar}}

</main>

<input class="hidden-project-id" type="hidden" value="{{projectInfo.project_id}}">