<main class="layout layout__dashboard">
	{{>pageTitleHeader title=(concat "Hi, {{user.first_name}}!")}}

	<section id="searchbar">
		<form autocomplete="off">
			<i class="icon fa-solid fa-magnifying-glass"></i>
			<label for="search" class="label-hidden">Search for projects
			</label>
			<input type="text" placeholder="Search for projects..." name="search_projects" id="search" />
		</form>
	</section>

	{{!-- mobile create project card --}}
	<div class="cards project-cards project-cards--header">
		{{> projectCard 'create'}}
		{{> projectCard 'join'}}
	</div>

	{{#if projects}}

	<section class="recent-projects dashboard-section">
		<input type="checkbox" id="overview" name="overview" />
		<label for="overview">toggle list view</label>
		<h3>Recently viewed</h3>

		<ul class="cards project-cards cards-category__recent">
			{{#each projects}}
			<li class="card__item">
				{{> projectCard this}}
			</li>
			{{/each}}
		</ul>
	</section>

	<section class="dashboard-section">
		<h3>All projects</h3>

		<ul class="cards project-cards">
			{{!-- desktop create project card --}}
			{{!-- <li class="card__item create-card-container">
				{{> projectCard 'create'}}
			</li> --}}
			{{#each projects}}
			<li class="card__item allprojects-card">
				{{> projectCard this}}
			</li>
			{{/each}}

		</ul>
	</section>

	{{else}}
	<p>Coming soon!</p>
	<ul class="cards project-cards cards-category__recent">
		<a class="create-project-card" href="/new-project">+ New project</a>
		<a class="create-project-card" href="/join-project">+ Join project</a>
	</ul>
	{{/if}}

</main>