
<main class="layout layout__dashboard">
	<h1>Hi, Anna!</h1>

	<ul class="cards project-cards">
		{{!-- todo: check if user is admin (can create projects) --}}
		{{#if true}}
			<li class="card__item admin-card">
				{{> projectCard null}}
			</li>
		{{/if}}

		{{#each projects}}
			<li class="card__item">
				{{> projectCard this}}
			{{/each}}
			</li>
	</ul>
</main>
