<main class="layout layout__dashboard">
	{{>pageTitleHeader title=(concat "Hi, {{user.first_name}}!")}}

	<section id="searchbar">
		<form action="/search" method="POST" autocomplete="off">
			<i class="icon fa-solid fa-magnifying-glass"></i>
			<label for="search" class="label-hidden">Search for projects</label>
			<input type="text" placeholder="Search for projects..." name="search_projects" id="search" />
		</form>
	</section>

	<section class="action-cards">
		<a class="create-project-card" href="/new-project">+ New project</a>
		<a class="create-project-card" href="/join-project">+ Join project</a>
	</section>

	{{#if projects}}
	<section class="dashboard-section">
		<h3>All projects</h3>

		<ul class="cards project-cards">
			{{#each projects}}
			<li class="card__item allprojects-card">
				{{> projectCard this}}
			</li>
			{{/each}}
		</ul>
	</section>

	{{else}}
		<section class="dashboard__empty">
			<h3>You don't have any projects yet...</h3>
			<p>Create or join a project by clicking one of the above buttons.</p>
		</section>
	{{/if}}

</main>