<main class="layout layout__login">
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

    <form method='POST'>
        <h2>Forgot password?</h2>
        <p>No worries, we'll send you reset instructions.</p>
    
        <fieldset class="form__section">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" autocapitalize="off"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required />
        </fieldset>
        <button class="btn btn--alt" type='submit'>Reset password</button>

        <a href="/login">Back to log in</a>
    </form>

    <section class="login-aside">
        <h1>Digital accessibility made easy with
            Appclusive</h1>
        <div class="login__checklistitem"></div>
        {{>icons/logo}}

        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
    </section>
</main>