<main>
    <h1>Forgot password</h1>

    <form method='POST'>
        <input type='email' name='email' placeholder='Email' />
        <button type='submit'>Send reset link to email</button>
    </form>
</main>