<main class="layout layout__login">
    <form method='POST'>
        <h2>Forgot password?</h2>
        <p class="login__description">No worries, we'll send you reset instructions.</p>
    
        <fieldset class="form__section">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" autocapitalize="off"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required />
        </fieldset>

        <button class="btn btn--alt btn--login" type='submit'>Reset password</button>

        <p class="login__signuptext">Remember your password? <a href="/login">Login here</a></p>
        
    </form>

    <section class="login-aside">
        <h1>Digital accessibility made easy with
            Appclusive</h1>
        <div class="login__checklistitem"></div>
        {{>icons/logo}}

        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
    </section>
</main>