<main class='layout layout__join'>

	{{>icons/logo}}

	<form action="/join-project" method="POST" autocomplete="off" autocapitalize="on">
		<label for="code">Invite code <span class="required">*</span> <span class="formerror">{{#if formErrors.title}}Incorrect invite code{{/if}}</span>
		</label>
        <input 
			name="code" 
			type="text" 
			maxlength="6" 
			id="code" 
			placeholder="e.g. ABC123"
			required
		/>

		<button type="submit" class="btn">Join</button>

		<a href="{{head.backUrl}}">Cancel</a>
	</form>
	<div class="dog">
        <img src="images/hulphond_body.svg" alt="Dog image body">
        <img class="desktopDog" src="images/hulphond.svg" alt="Dog image body">
    </div>
</main>