<main class='layout layout__login'>

    {{#if message.length}}
        <p>{{message}}</p>
    {{/if}}

    <form class='login' method='POST'>
        <h2 class='login__title'>Welcome back!</h2>

        <div class='login__item'>
            <label for='email'>Email</label>
            <input
                type='email'
                name='email'
                id='email'
                placeholder='Email'
                autocapitalize='off'
                pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$'
                required
            />
        </div>

        <div class='login__item'>
            <label for='password'>Password</label>
            <input
                type='password'
                name='password'
                id='password'
                placeholder='Enter your password'
                required
            />
        </div>

        <a class='login__forgot' href='/register'>Forgot password?</a>

        <button class='login__submit' type='submit'>Login</button>
        <p class='login__or'>or</p>
        <a class='login__signup' href='/register'>Register</a>
    </form>

    <section class='login-aside'>
        <h1 class='login__slogan'>Digital accessibility made easy with
            Appclusive</h1>
        <div class='login__checklistitem'></div>
        {{>icons/logo}}
    </section>
</main>