<main class="layout__login">

    <form method="POST">
        <h2>Welcome back!</h2>

        {{#if general-form-error}}
            <div class="message message--error message--gen">
                <i class="fa-solid fa-triangle-exclamation"></i> <p>{{general-form-error}}</p>
            </div>
        {{/if}}

        <fieldset class="form__section {{#if email_address-error.length}} form__error {{/if}}">
            <label for="email_address">Email</label>
            <input type="email" name="email_address" id="email_address" placeholder="Enter your email" autocapitalize="off"
                pattern="[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{1,63}$" required >
            <label class="message message--error {{#unless email_address-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{email_address-error}}</label>
        </fieldset>

        <fieldset class="form__section {{#if password-error.length}} form__error {{/if}}">
            <label for="password">Password</label>
            <input aria-describedby="password-error" type="password" name="password" id="password" placeholder="Enter your password" required >
            <label id="password-error" class="message message--error {{#unless password-error.length}}hide{{/unless}}">{{password-error}}</label>
        </fieldset>

        <a class="login__forgot" href="/forgot-password">Forgot password?</a>

        <button class="btn btn--login" type="submit">Login</button>
        <p class="login__or">or</p>
        <p class="login__signuptext">Don't have an account? <a href="/register" class="login__forgot">Register here</a></p>
        <a href="/register" class="btn btn--secondary">Sign up</a>
    </form>

    <section class="login-aside">
        <h1>Digital accessibility made easy with
            Appclusive</h1>
        <div class="login__checklistitem"></div>
        {{>icons/logo}}

        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
    </section>
</main>