<main class="layout layout__login">

    {{#if message.length}}
    <p>{{message}}</p>
    {{/if}}

    <form method="POST">
        <h2>Welcome back!</h2>

        <fieldset class="form__section">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" autocapitalize="off"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required />
        </fieldset>

        <fieldset class="form__section">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required />
        </fieldset>

        <a class="login__forgot" href="#">Forgot password?</a>

        <button class="btn" type="submit">Login</button>
        <p class="login__or">or</p>
        <p class="login__signuptext">Don't have an account? <a href="/register">Register here</a></p>
        <a href="/register" class="btn btn--secondary">Sign up</a>
    </form>

    <section class="login-aside">
        <h1>Digital accessibility made easy with
            Appclusive</h1>
        <div class="login__checklistitem"></div>
        {{>icons/logo}}

        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
    </section>
</main>