<main>
    <h1>profile page hehe</h1>
    <p>{{user.email_address}}</p>

    <form action='/change-password' method='POST'>
        <input type='password' placeholder='Old Password' name='oldpassword' />
        <input type='password' placeholder='New Password' name='newpassword' />
        <button type='submit'>Change Password</button>
    </form>
</main>