<main class="layout layout__project-create" id="main">

    {{>pageTitleHeader title=title}}
    
    <form action="/new-project" method="POST" novalidate>

        {{#if general-form-error}}
            <div class="message message--error">
				<i class="fa-solid fa-triangle-exclamation"></i> {{general-form-error}}
            </div>
        {{/if}}
       
        <fieldset class="form__section {{#if title-error.length}} form__error {{/if}}">
            <label for="title">Project title <span class="required">*</span></label>
             <input
                aria-describedby="title-error"
                class="textinput"
                type="text"
                name="title"
                id="title"
                placeholder="What would you like to name your project?"
                required
            >
            <label id="title-error" class="message message--error {{#unless title-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{title-error}}</label>
        </fieldset>

        <fieldset class="form__section form__section--counter">
            <label for="description">Project description</label>
             <textarea
                class="textinput"
                name="description"
                id="description"
                placeholder="What is the project about?"
                maxlength="500"
            ></textarea>
            <small class="description-char-counter"></small>
        </fieldset>

        <fieldset class="project__level form__section {{#if wcag_level-error.length}} form__error {{/if}}">
            <legend>What level of accessibility should be applied? <span class="required">*</span>
			</legend>

            <section>
                <aside>
                    <div role="radiogroup" aria-labelledby="level-label-a">
                        <input type="radio" id="a" name="wcag_level" value="A" role="radio" required >
                        <label for="a" id="level-label-a">
                            <h3>Level A: Essential</h3>
                            <p>If this isn't met, assistive technology may not be able to read, understand, or fully operate the page or view.</p>
                            <i class="icon icon--light fa-lg fa-solid fa-circle-check project__level__check"></i>
                        </label>
                    </div>

                    <div role="radiogroup" aria-labelledby="level-label-aa">
                        <input type="radio" id="aa" name="wcag_level" value="AA" role="radio" required checked >
                        <label for="aa" id="level-label-aa">
                            <h3>Level AA: Ideal Support</h3>
                            <p>Required for multiple government and public body websites. 'Appclusive' strives for AA compliance.</p>
                            <i class="icon icon--light fa-lg fa-solid fa-circle-check project__level__check"></i>
                        </label>
                    </div>

                    <div role="radiogroup" aria-labelledby="level-label-aaa">
                        <input aria-describedby="level-error" type="radio" id="aaa" name="wcag_level" value="AAA" role="radio" required >
                        <label for="aaa" id="level-label-aaa">
                            <h3>Level AAA: Specialized Support</h3>
                            <p>This is typically reserved for parts of websites and web apps that serve a specialized audience.</p>
                            <i class="icon icon--light fa-lg fa-solid fa-circle-check project__level__check"></i>
                        </label>
                    </div>
                </aside>
            </section>

            <label id="level-error" class="message message--error {{#unless wcag_level-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{wcag_level-error}}</label>
        </fieldset>

        <button class="btn">Create Project</button>
    </form>
</main>