<main>
    <h1>Register</h1>
    <form action='/register' method='POST'>

        <input
            type='name'
            name='first_name'
            id='first_name'
            placeholder='First Name'
            required
        />

        <input
            type='name'
            name='insertion'
            id='insertion'
            placeholder='Insertion'
        />

        <input
            type='name'
            name='surname'
            id='surname'
            placeholder='Surname'
            required
        />

        <input
            type='email'
            name='email'
            id='email'
            placeholder='Email'
            required
        />

        <input
            type='password'
            name='password'
            id='password'
            placeholder='Password'
            autocomplete='off'
            required
        />
        <input
            type='password'
            name='confirm_password'
            id='confirm_password'
            placeholder='Confirm Password'
            autocomplete='off'
            required
        />

        <input type='submit' value='Register' />

        <a href='/login'>Login</a>
    </form>
    {{#if message.length}}
        <p>{{message}}</p>
    {{/if}}
</main>