<main>
    <h1>Reset password for {{email}}</h1>

    <form method='POST'>
        <input
            type='password'
            name='password'
            id='password'
            placeholder='Password'
            autocomplete='off'
        >
        
        <input
            type='password'
            name='confirm_password'
            id='confirm_password'
            placeholder='Confirm Password'
            autocomplete='off'
        >

        <button type='submit'>Reset password</button>
    </form>
</main>