<main class="layout layout__dashboard" id="main">
	{{>pageTitleHeader title=title}}

	<section id="searchbar">
		<form action="/search" method="get" autocomplete="off" id="searchForm">
			<i class="icon fa-solid fa-magnifying-glass"></i>
			<label for="search" class="label-hidden">Search for projects</label>
			<input type="text" placeholder="Search for projects..." value="{{search}}" name="query" id="search">
		</form>
	</section>

	{{#if projects}}

		<section class="dashboard-section">
			{{#if search}}
			<h3>Search result{{#if (gt searchedProjects.length 1)}}s{{/if}}</h3>
				{{#if searchedProjects}}
					<ul class="cards project-cards">
						{{#each searchedProjects}}
							<li class="card__item">
								{{> projectCard this}}
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p>No projects found</p>
				{{/if}}

			{{else}}
				<p>Try searching for a project and they'll appear here!</p>
			{{/if}}	
		</section>

		<section class="dashboard-section">
			<h3>All projects</h3>

			<ul class="cards project-cards">
				{{#each projects}}
                    <li class="card__item allprojects-card">
                        {{> projectCard this}}
                    </li>
				{{/each}}
			</ul>
		</section>

	{{else}}
		<section class="dashboard__empty">
			<h3>It looks like you don't have any projects yet...</h3>
			<p>Create or join a project on your dashboard.</p>
		</section>
	{{/if}}

</main>