:root {
    --light: #ffffff;
    --dark: #1e1e1e;
    --dark-alt: #040505;
    --primary: #044ecf;
    --secondary: #505050;
    --tertiary: #f1f1f1;

    --border: 2px solid green;
}

/* dark mode variables */

:root.dark {
    --primary: #3393ff;
    --secondary: #989898;
    --tertiary: #1e1e1e;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
