:root {
    --light: #ffffff;
    --dark: #1e1e1e;
    --dark-alt: #040505;
    --primary: #044ecf;
    --secondary: #505050;
    --tertiary: #f1f1f1;
    --border-gray: #7a7a7a;
    --border-style: var(--border-gray) solid 1.5px;
    --border-radius: 1.25rem;
}

/* dark mode variables */

:root.dark {
    --primary: #3393ff;
    --secondary: #989898;
    --tertiary: #1e1e1e;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.checklist__item {
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light);
}
