/* ---------------------------------- */
/*            #VARIABLES           	  */
/* ---------------------------------- */
:root {	
	--light: #fdfdfd;
    --dark: #1E1E1E;
	
	--primary-color: #044ECF;
	
	--primary-bg: #FDFDFD;
	--secondary-bg: #F1F1F1;
	--tertiary-bg: #7A7A7A;
	
	--primary-text: var(--dark);
	--secondary-text: #1B1F24;
	--tertiary-text: #69717B;
	
	--nav-bg: #1E1E1E;
	--nav-selected: #3393FF;

	--footer-bg: #1B1F24; 
	
    --create-project-card-bg: #E1ECFF; 

	--icon: var(--primary-color);
	--icon-alt: #002971;
	
    --card-border-radius: 0.5rem;
    --card-border-radius-dashboard: 1rem;
    --card-border-color: #A1A1A1;
    --card-border-style: var(--card-border-color) solid 2px;
	--card-border-color-style: var(--primary-color) solid 2px;
	--card-border-style-alt: var(--primary-color) solid 2px;

	--status-bg-new: #6FD3FE;
	--status-bg-wip: #FFCA42;
	--status-bg-done: #77E087;
	--status-text-new: #002971;
	--status-text-wip: #5B3100;
	--status-text-done: #035C11;

	--error: hsl(0, 96%, 41%);

	--welcome-padding-vertical: 0.5rem;
}

/* ------------- #DARK MODE ------------ */
:root[data-theme="dark"] {
	--primary-color: #3393FF;
	
	--primary-bg: #040505;
	--secondary-bg: #1E1E1E;
	--tertiary-bg: #989898;

	--primary-text: #FDFDFD;
	--secondary-text: #989898;
	--tertiary-text: var(--secondary-text);

	--icon-alt: #8bb6ff;

    /* --create-project-card-bg: #001C4D;  */
}

/* turn on to debug weird margins and such */

/* * {
	outline: 1px solid red !important;
} */

body {
	position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    line-height: 140%;
	color: var(--primary-text);

	background-color: var(--primary-bg);
}

.page-with-nav {
	display: grid;
	grid-template-columns: 10rem 1fr;
}

@media screen and (max-width: 950px) {
	.page-with-nav {
		grid-template-columns: 1fr;
	}
}

.skip-to-main-content-link {
	position: absolute;
	left: -999rem;
	top: 30%;
	z-index: 999;
	padding: 1em;
	background-color: black;
	color: white;
	opacity: 0;
  }
  .skip-to-main-content-link:focus,
  .skip-to-main-content-link:focus-visible {
    left: 50%;
    transform: translateX(-100%);
    opacity: 1;
  }