/* ---------------------------------- */
/*            #GENERAL           	  */
/* ---------------------------------- */
.hide { display: none; }

hr { 
    height: 0.1875rem;
    background: var(--card-border-color);
    border:none;
    border-radius: .25rem;
    width: 90%;
    max-width: 70rem;
}

/* ---------------------------------- */
/*            #BUTTON           	  */
/* ---------------------------------- */
.btn {    
	appearance: none;
	padding: .625rem 1.25rem;
	
	font-size: inherit;
	font-weight: 700;
	color: var(--light);
	text-decoration: none;
	text-align: center;
	
	border: 2px solid var(--primary-color);
    border-radius: 50rem;
	
	transition: all .2s ease-in-out;
	cursor: pointer;
	
	outline: none;
	background-color: var(--primary-color);
}

.btn:hover,
.btn:focus-visible {
	background-color: var(--light);
	color: var(--primary-color);
}

/* SECONDARY BUTTON */
.btn--secondary:hover,
.btn--secondary:focus-visible {
	background-color: var(--primary-color);
	color: var(--light);
}

.btn--secondary:focus-visible {
	outline: solid 2px var(--primary-color);
	outline-offset: 1px;
}

.btn--secondary {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background-color: var(--light);
}

/* NAV BUTTON */
.btn--nav {
	display: flex;
			
	height: 2.8rem;
	width: 2.8rem;
	
	padding: 3px;

	background-color: var(--primary-color);
	border-radius: 50%;
}

	.btn--nav svg {
		width: 100%;

		stroke: var(--light);
		height: 100%;
	}

/* ---------------------------------- */
/*            #LAYOUT           	  */
/* ---------------------------------- */
.layout {
    padding: 1.5rem;
}
    .layout h1 {
        display: none;
    }

@media screen and (min-width: 951px) {
    .layout {
        padding: 3.5rem 2.5rem;
    }
    
        .layout h1 {
            display: block;
            margin-bottom: 1rem;
        }
}

/* ---------------------------------- */
/*            	#FORM           	  */
/* ---------------------------------- */
input[type='text'], 
input[type='number'], 
input[type='email'], 
input[type='password'],
textarea {
	border: 2px solid var(--primary-text);
	border-radius: 50rem;
	
	padding: .5rem .75rem;
	
	font-size: 1.1rem;
	font-family: inherit;
	color: var(--primary-text);
	
	background-color: var(--primary-bg);
}

input[type='text']:focus, 
input[type='number']:focus, 
input[type='email']:focus, 
input[type='password']:focus,
textarea:focus {
	outline: var(--primary-color) solid 2px;
	outline-offset: 1px;
	border-color: var(--primary-color);
}

/* #SEARCH */
.searchbar {
    margin-bottom: 2rem;
    position: relative;
}

    .searchbar input {
        width: 80%;
        height: 2rem;
		
        padding-left: 2rem;
        
		border-radius: 1.5rem;
        border: none;
        
		font-size: 1rem;
        color: #202020;
    }

    .searchbar .btn {
        position: absolute;
        left: 0;
		top: 50%;
		
		display: flex;
		justify-content: center;
		align-items: center;
        
		padding: 0 0 0 .5rem;
        
		height: 100%;
        width: 2rem;
        
		border: none;
        background-color: transparent;
		transform: translateY(-50%);
    }

	.searchbar .btn svg {
		height: 1rem;
	}
/* ---------------------------------- */
/*            #PROGRESS           	  */
/* ---------------------------------- */
.progress[value] {
	--progress-bar-border-radius: calc(var(--progress-bar-height) / 2);
	appearance: none;

	width: 100%;
	height: var(--progress-bar-height);
	
	border-radius: var(--progress-bar-border-radius);
	border: solid 2px var(--primary-color);
	
	overflow: hidden;
	
	background-color: transparent;
}

.progress[value]::-webkit-progress-bar {
	background-color: transparent;
}

/* LAAT DIT ZO STAAN, MET EEN KOMMA WERKT HET NIET FOR SOME REASON, blame webkit of moz */
.progress[value]::-moz-progress-bar {
	background-color: var(--primary-color);
	border-radius: 0 var(--progress-bar-border-radius) var(--progress-bar-border-radius) 0;
}

.progress[value]::-webkit-progress-value {
	background-color: var(--primary-color);
}

/* ---------------------------------- */
/*            #CIRCLES           	  */
/* ---------------------------------- */
.bg-circle {
	position: absolute;
    
    border-radius: 50%;
    border: solid 3px var(--light);
    
    pointer-events: none;
    
    aspect-ratio: 1;
    z-index: -1;
}

hr { 
    height: 0.1875rem;
    background: var(--card-border-color);
    border:none;
    border-radius: .25rem;
    /* width: 90%; */
    max-width: 70rem;
}


.project__subtitle:not(:empty){
	padding: 0.3125rem var(--welcome-padding-vertical);
	background-color: hotpink;
	width: fit-content;
	border-radius: 5px;
	text-transform: uppercase;
	color: var(--light);
}

/* ---------------------------------- */
/*               #ICONS               */
/* ---------------------------------- */

.icon {
	color: var(--icon);
}

.icon--alt {
	color: var(--icon-alt);
}

.icon--dark {
	color: var(--dark);
}

.icon--light {
	color: var(--light);
}