.hide {
	display: none;
}

/* ------------- #BUTTON ------------ */
.btn {
    cursor: pointer;
    background-color: var(--light);
    border: 2px solid var(--primary-color);
    padding: .625rem 1.25rem;
    border-radius: 50rem;
	transition: all .2s ease-in-out;
	
	text-decoration: none;
	text-align: center;
	
    color: var(--primary-color);
	font-size: inherit;
	font-weight: 700;
}

.btn:hover,
.btn:focus-visible {
	background-color: var(--primary-color);
	color: var(--light);
}

.btn:focus-visible {
	outline: solid 2px var(--primary-color);
	outline-offset: 1px;
}

.btn--alt {
	background-color: var(--primary-color);
	color: var(--light);
	border-color: var(--light);
}

.btn--alt:hover,
.btn--alt:focus-visible {
	background-color: var(--light);
	color: var(--primary-color);
}


.layout {
    margin: 10rem 2.5rem 0 2.5rem;
}

	.layout h1 {
		margin-bottom: 1rem;
	}

@media screen and (max-width: 950px) {
	.layout {
		margin-top: 5rem;
	}
}
	

input:where([type='text'], [type='number'], [type='email'], [type='password']),
textarea {
	border: 2px solid var(--primary-text);
	padding: .5rem .75rem;
	border-radius: 50rem;
	font-size: 1.1rem;
	font-family: inherit;
	color: var(--primary-text);
	background-color: var(--primary-bg);
}

input:where([type='text'], [type='number'], [type='email'], [type='password']):focus,
textarea:focus {
	outline: var(--primary-color) solid 2px;
	outline-offset: 1px;
	border-color: var(--primary-color);
}

/* radio styling, change size variable as needed, should scale */
input[type="radio"] {
	--size: 2rem;
	appearance: none;
	position: relative;
	width: var(--size);
	aspect-ratio: 1;
}

input[type="radio"]:not(:checked) {
	cursor: pointer;
}

input[type="radio"]::before,
input[type="radio"]::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-color);
	aspect-ratio: 1;
}


input[type="radio"]::before {
	content: '';
	width: 100%;
	border: 2px solid currentColor;
}

input[type="radio"]::after {
	content: none;
	width: 65%;
	background-color: currentColor;
}

input[type="radio"]:checked::after {
	content: '';
}

.required {
	color: var(--primary-color);
	font-weight: bold;
	font-size: 1.2rem;
}


/* ------ Progress bar styling ------ */

.progress[value] {
	--progress-bar-border-radius: calc(var(--progress-bar-height) / 2);
	width: 100%;
	height: var(--progress-bar-height);
	border-radius: var(--progress-bar-border-radius);
	overflow: hidden;
	appearance: none;
	border: solid 2px var(--primary-color);
	background-color: transparent;
}

.progress[value]::-webkit-progress-bar {
	background-color: transparent;
}

/* LAAT DIT ZO STAAN, MET EEN KOMMA WERKT HET NIET FOR SOME REASON, blame webkit of moz */
.progress[value]::-moz-progress-bar {
	background-color: var(--primary-color);
	border-radius: 0 var(--progress-bar-border-radius) var(--progress-bar-border-radius) 0;
}

.progress[value]::-webkit-progress-value {
	background-color: var(--primary-color);
}


.bg-circle {
	position: absolute;
	pointer-events: none;
	border-radius: 50%;
	z-index: -1;
	aspect-ratio: 1;
	border: solid 3px var(--light);
}

hr { 
    height: 0.1875rem;
    background: var(--card-border-color);
    border:none;
    border-radius: .25rem;
    width: 90%;
    max-width: 70rem;
}