.layout__checklist {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 2.5rem;
	grid-auto-flow: dense;
    width: clamp(10rem, 100%, 70rem);
    justify-self: center;
}

@media screen and (max-width: 950px) {
    .layout__checklist {
        grid-template-columns: 1fr;
    }
}