.layout__categories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
	grid-auto-flow: dense;
}

.layout__categories > header {
    grid-column: 1 / -1;
}

@media screen and (max-width: 950px) {
    .layout__categories {
        grid-template-columns: 1fr;
    }

    .layout__categories > header {
        display: none;
    }
}