.layout__categories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    grid-column-gap: 4.37rem;
	grid-auto-flow: dense;
    width: clamp(10rem, 100%, 80rem);
    justify-self: center;
}

	/* this code is also used on the checklist page :0 */
    .progress__header {
        grid-column: 1 / -1;
    }

	.progress__header div,
	.progress__header progress {
		display: none;
	}


@media screen and (max-width: 950px) {
    .layout__categories {
        grid-template-columns: 1fr;
    }

	.progress__header div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

		.progress__header progress {
			--progress-bar-height: 1.5rem;
			display: block;
			margin-top: .5rem;
		}
}