.layout__checklist {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 2.5rem;
}

@media screen and (max-width: 950px) {
    .layout__checklist {
        grid-template-columns: 1fr;
    }
}