.layout__dashboard {
	padding-top: 0;

	width: clamp(10rem, 100%, 70rem);
    justify-self: center;
}

.layout__dashboard > header {
	margin-bottom: 4rem;
}

.layout__dashboard .dashboard-section > h3 {
	margin: 1.75rem 0 0.25rem 0;
	color: var(--tertiary-text);
	text-transform: uppercase;
	font-size: 1rem;
}

.layout__dashboard > div {
	margin: 1.75rem 0 0.25rem 0;
	color: var(--tertiary-text);
	text-transform: uppercase;
}

.layout__dashboard .recent-projects {
	position: relative;
}

.recent-projects > label {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	user-select: none;
	color: var(--tertiary-text);
	text-decoration: underline;
}

.layout__dashboard .recent-projects > input[name="overview"]:focus-visible + label {
	outline: 2px solid var(--primary-color);
}

.layout__dashboard input[name="overview"] {
	appearance: none;
	position: absolute;
}

.cards.project-cards {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
	gap: 0.75rem;
}
	.cards.project-cards .card__item {
		width: 100%;
		height: 100%;
	}

.card.project-cards--header {
	margin-bottom: 1.5rem;
}

/* dit is echt de meest messy code ooit inshallah */
.layout__dashboard > a.create-project-card {
	display: flex;
}

.layout__dashboard .create-card-container {
	display: none;
}


.cards-category__recent {
	display: flex !important;
	flex-wrap: nowrap;
	overflow-x: auto;
	max-width: calc(100vw - 1.5rem - 1.5rem);
}

.layout__dashboard input[name="overview"]:checked ~ .cards-category__recent {
	flex-wrap: wrap;
	max-width: none;
}

	.layout__dashboard input[name="overview"]:checked ~ .cards-category__recent .card__item {
		flex: 0 100%;
	}

@media screen and (min-width: 560px) {
	.layout__dashboard input[name="overview"]:checked ~ .cards-category__recent .card__item {
		flex: 1 calc(50% - 0.375rem);
		max-width: calc(50% - 0.375rem);
	}
}

@media screen and (min-width: 951px) {
	.layout__dashboard {
		padding-top: 3.5rem;
	}

	.layout__dashboard .recent-projects > label,
	.layout__dashboard .recent-projects > input[name="overview"],
	.layout__dashboard .dashboard-section > h3,
	.layout__dashboard .cards-category__recent {
		display: none;
	}

	.layout__dashboard .create-card-container {
		display: flex;
	}

	.cards.project-cards {
		gap: 1.5rem;
	}

	.cards-category__recent {
		display: none !important;
	}

	.layout__dashboard h3 + label {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.cards.project-cards {
		grid-template-columns: 1fr;
	}	
}
