.landingHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;

    color: var(--light);
    background-color: var(--primary-color);
    border-radius: 0 0 1rem 1rem;
}

    .landingHeader .mobileHeader,
    footer.landingFooter {
        display: flex;
        justify-content: space-between;
    }

    .landingHeader .mobileHeader {
        margin-bottom: 4rem;
        background-color: var(--primary-color);
    }

    footer.landingFooter {
        padding: 2rem;
        text-align: right;
        background-color: var(--footer-bg);
    }

        footer.landingFooter a {
            color: var(--light);
        }
        footer.landingFooter a:hover,
        footer.landingFooter a:focus-visible {
            text-decoration: underline;
        }

        .landingHeader .mobileHeader svg,
        footer.landingFooter svg {
            width: 6rem;
        }

    .landingHeader h1 {
        width: 90%;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        background-color: var(--primary-color);
    }

    .landingHeader > p {
        position: relative;
        line-height: normal;
        background-color: var(--primary-color);
        z-index: 1;
    }
    .landingHeader > p:first-of-type {
        margin-bottom: 4rem;
    }

    .landingHeader .eg img {
        width: 20rem;
        max-width: 90%;
        z-index: 1;
    }
    .landingHeader .eg img:last-of-type {
        display: none;
    }

    .landingHeader .landingTopbar {
        display: none;
    }

.layout__landingpage {
    padding: 2rem 2rem 0 2rem;
}

    .layout__landingpage > ul > li {
        padding: 2rem 0;
    }
    .layout__landingpage > ul > li:nth-child(2n) {
        margin: 0 -2rem;
        padding: 2rem;
        background-color: var(--secondary-bg);
    }

        .layout__landingpage > ul > li a[href="/register"] {
            display: block;
            margin-bottom: 0.5rem;
        }

        .layout__landingpage > ul > li img {
            display: block;
            width: 13.75rem;
            margin: auto auto 2rem auto;
        }
        .layout__landingpage > ul > li img.img-border {
            border: 1px solid var(--primary-color);
            border-radius: 5px;
        }

        .layout__landingpage > ul > li h2 {
            margin-bottom: 1rem;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: normal;
        }

        .layout__landingpage > ul > li p,
        .layout__landingpage > ul > li a {
            font-size: 1rem;
        }

@media screen and (min-width: 950px) {

    .landingHeader {
        height: 42rem;
        padding: 3rem 3rem 0 3rem;
        border-radius: 0;
        overflow: hidden;
    }

        .landingHeader > .mobileHeader {
            display: none;
        }
        
        .landingHeader h1 {
            width: 100%;
            max-width: 55rem;
            margin-top: 6rem;
            font-size: 4rem;
            font-weight: 700;
        }

        .landingHeader .landingTopbar {
            display: flex;
            justify-content: space-between;
            order: 1;
            width: 100%;
        }
    
            .landingHeader .landingTopbar li:first-child {
                display: block;
                width: 10rem;
                height: auto;
                position: relative;
                z-index: 1;
            }
            
            .landingHeader .landingTopbar li:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }
    
                .landingHeader .landingTopbar li:last-child a.btn {
                    min-width: 7.5rem;
                }
                .landingHeader .landingTopbar li:last-child a[href="/register"] {
                    border-color: var(--light);
                }
            
                .landingHeader .landingTopbar li:last-child span.topbarDivider {
                    display: block;
                    width: 0.1rem;
                    height: 2rem;
                    background-color: white;
                }

        .landingHeader .landingCircles {
        top: 0;
        left: 0;
        overflow: clip;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 42rem;
        color: white;
        z-index: 0;
    }

        .landingHeader .landingCircles span.bg-circle {
            pointer-events: none;
            border-radius: 50%;
            aspect-ratio: 1;
            border: solid 3px var(--light);
            width: 10rem;
            margin: 5rem;
        }

        .landingHeader .landingCircles > span.bg-circle:nth-child(1) {
            top: -15rem;
            right: 50%;
            width: 15rem;
        }

        /* .landingHeader .landingCircles > span.bg-circle:nth-child(2) {
            bottom: -30rem;
            left: -18rem;
            width: 20rem;
        } */

        .landingHeader .landingCircles > span.bg-circle:nth-child(3) {
            right: -20rem;
            width: 25rem;
            bottom: -13rem;
        }

        .landingHeader .landingCircles {
            height: 42rem;
            pointer-events: none;
        }
    
            .landingHeader .landingCircles > span.bg-circle:nth-child(2) {
                bottom: -12rem;
                left: -14rem;
                width: 20rem;
            }
        
            .landingHeader .landingCircles > span.bg-circle:nth-child(3) {
                right: -15rem;
                width: 25rem;
                bottom: -13rem;
            }
        
        .landingHeader .landingTopbar {
            order: -1;
        }

        .landingHeader > p {
            width: fit-content;
            max-width: 40rem;
        }

        .landingHeader .eg {
            display: flex;
            gap: 2rem;
            width: fit-content;
        }

            .landingHeader .eg img {
                max-width: 26.5rem;
            }
            .landingHeader .eg img:last-of-type {
                display: block;
            }

    .layout__landingpage > ul > li,
    .layout__landingpage > ul > li:nth-child(2n) {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .layout__landingpage > ul > li:nth-child(2n) {
        padding: 4rem;
    }
    .layout__landingpage > ul > li:last-of-type {
        display: none;
    }

        .layout__landingpage > ul > li img {
            margin: 0;
        }

        .layout__landingpage > ul > li > div {
            /* margin: 0 auto; */
            max-width: 40rem;
        }
        .layout__landingpage > ul > li:nth-child(2n) > div {
            order: -1;
        }

            .layout__landingpage > ul > li h2 {
                font-size: 1.75rem;
            }

            .layout__landingpage > ul > li p,
            .layout__landingpage > ul > li a {
                font-size: 1.25rem;
            }
    
    footer.landingFooter {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 1280px) {

    .landingHeader .dog {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .landingHeader {
        background-color: var(--dark);
    }
        .landingHeader h1, .landingHeader p {
            background-color: var(--dark);
        }
        .landingHeader .landingTopbar li:last-child a.btn {
            background-color: var(--light);
            color: var(--dark);
        }
        .landingHeader .landingTopbar li:last-child a.btn:last-child {
            background-color: var(--dark);
            color: var(--light);
        }
        .landingHeader .mobileHeader {
            background-color: var(--dark);
        }
        .landingHeader .mobileHeader .btn--secondary {
            background-color: var(--light);
            color: var(--dark);
        }
        .layout__landingpage>ul>li a[href="/register"] {
            color: var(--dark);
            background-color: var(--primary-color);
        }
}