main.layout__project-create .page-title {
	margin-bottom: 2rem;
}

main.layout__project-create .delete {
	margin-top: 1rem;
}

	main.layout__project-create .delete button {
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		color: #e01010;
	}
	main.layout__project-create .delete button:hover,
	main.layout__project-create .delete button:focus-visible {
		text-decoration: underline;
	}

main.layout__project-create input,
main.layout__project-create textarea,
main.layout__project-create .project__level section aside {
	border-radius: var(--card-border-radius);
}

.layout__project-create form > input,
.layout__project-create form > div,
.layout__project-create form > label {
	max-width: 30rem;
}

.layout__project-create form {
	display: flex;
	flex-direction: column;
	max-width: 62.5rem;
	margin-top: 2rem;
}

	.layout__project-create form .formerror {
		display: block;
	}

	.layout__project-create form label,
	.layout__project-create form fieldset legend {
		font-size: 1rem;
		font-weight: 700;
	}
	.layout__project-create form label {
		cursor: pointer;
	}
	.layout__project-create form label[for="title"],
	.layout__project-create form label[for="description"],
	.layout__project-create form .project__level > legend {
		font-size: 1.2rem;
	}

	label[for="title"],
	label[for="description"],
	.layout__project-create form fieldset legend {
		margin-bottom: 0.5rem;
	}

	.layout__project-create fieldset,
	.layout__project-create label + input,
	.layout__project-create label + textarea {
		margin-bottom: 2rem;
	}
	.layout__project-create input::placeholder,
	.layout__project-create textarea::placeholder {
		font-size: 0.875rem;
	}

	.layout__project-create form > div {
		position: relative;
		display: flex;
		flex-direction: column;
	}

		.layout__project-create form div small {
			position: absolute;
			bottom: 0.5rem;
			right: 0;
			color: var(--tertiary-text);
		}

	.layout__project-create form textarea {
		resize: none;
		height: 5rem;
	}

	.project__level section {
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.5rem;
	}

		.project__level section input {
			width: 2rem;
			height: 2rem;
			margin: -.25rem .5rem 0 0;
		}

		.project__level section aside {
			flex-basis: 100%;
		}

		.project__level section aside {
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			gap: 1rem;
		}
		
			.project__level section aside div[aria-labelledby="level-label"] label {
				display: block;
				height: 100%;
				padding: 0.75rem;
				background-color: var(--light);
				border: 2px solid var(--primary-color);
				border-radius: var(--card-border-radius);
			}
			.project__level section aside div[aria-labelledby="level-label"] label:hover {
				color: var(--primary-color);
			}
			.project__level section aside div[aria-labelledby="level-label"] label:hover h3 {
				text-decoration: underline;
			}
			.project__level section aside div[aria-labelledby="level-label"] input:checked + label {
				color: var(--light);
				background-color: var(--primary-color);
			}
			
				.project__level section aside div[aria-labelledby="level-label"] input:checked + label {
					color: var(--light);
				}
			
				.project__level section aside div label p {
					display: block;
					font-weight: 400;
				}
		
		.layout__project-create .project__level input {
			display: none;
		}

		.project__level section h3 {
			margin-bottom: 0.5rem;
			padding-top: 0.1rem;
		}

@media screen and (min-width: 951px) {

	.layout__project-create {
		width: clamp(10rem, 100%, 70rem);
		justify-self: center;
	}

	.layout__project-create .btn {
		max-width: 14rem;
	}
	.project__level section aside {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: none;
	}

	main.layout__project-create .delete {
		margin-top: -29.5px;
    	margin-left: 16rem;
	}

		main.layout__project-create .delete button {
			text-align: left;
		}
}