.settings > * + * {
    margin-top: 2.5rem;
}

.settings, 
.settings button[type="submit"] {
    max-width: 50rem;
}

.settings button[type="submit"] {
    display: block;
}

a[href="/logout"] {
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    gap: 1rem;
}

    a[href="/logout"] p {
        display: inline-block;
    }
    a[href="/logout"]:hover p,
    a[href="/logout"]:focus-visible p {
        text-decoration: underline;
    }

    a[href="/logout"] i {
        color: var(--primary-color);
    }

.settings fieldset {
    margin-top: 1.69rem;
}

    .settings fieldset div:not(:first-of-type) {
        margin-top: 1rem;
    }

    .settings legend {
        margin-bottom: 0.25rem;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tertiary-text);
    }

.settings .settings__item-avatar {
    display: none;
}

.settings__item-input {
    position: relative;
}
.settings__item-input + .settings__item-input {
    margin-top: 0.75rem;
}

    .settings__item-input input {
        width: 100%;
        padding-top: 1.4rem;
        padding-bottom: 0.35rem;
        border-color: var(--primary-color);
        border-radius: var(--card-border-radius);
    }

    .settings__item-input label {
        position: absolute;
        top: 50%;
        left: calc(0.75rem + 2px); /* padding + border */
        transform: translateY(-50%);
    }

    .settings__item-input input:focus ~ label,
    .settings__item-input input:not(:placeholder-shown) ~ label {
        top: 1rem;
        font-size: 0.875rem;
    }

    .settings__item-input input[type="email"]:focus,
    .settings__item-input input[type="email"]:not(:placeholder-shown) {
        padding-top: 0.85rem ;
        padding-bottom: 0.85rem;
    }

    .settings__item-input input[type="email"]:focus ~ label,
    .settings__item-input input[type="email"]:not(:placeholder-shown) ~ label {
        visibility: hidden;
    }

.settings > div:last-of-type {
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

@media screen and (min-width: 951px) {
    
    .layout__settings {
        padding-top: 2.5rem;
        width: clamp(10rem, 100%, 70rem);
        justify-self: center;
    }

    .layout__settings .btn {
        max-width: 14rem;
    }
    
    .settings {
        display: grid;
        grid-template-columns: 1fr auto;
    }

        .settings > div:last-of-type {
            flex-direction: row;
            align-items: baseline;
        }

        .settings button[type="submit"] {
            grid-column: 1 / 2;
            /* margin: 2.5rem auto 0 0; */
        }

            .settings > div:last-of-type button[type="submit"] {
                display: inline-block;
            }

        .settings .settings__item-email,
        .settings .settings__item-name,
        .settings .settings__item-password	{
            grid-column: 1 / 2;
        }

        .settings .settings__item-avatar {
            position: relative;
            display: block;
            grid-column: 2 / 3;
            grid-row: -1 / 3;
            align-self: flex-start;
            margin: 0 0 0 8rem;
        }       

            .settings .settings__item-avatar img {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                object-fit: cover;
            }
            
            .settings .settings__item-avatar input[type="file"] {
                display: none;
            }

            .settings .settings__item-avatar label {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 3rem;
                height: 3rem;
                padding: calc(1.25rem / 2);
                background-color: var(--primary-color);
                border-radius: 50%;
                cursor: pointer;

				display: flex;
				justify-content: center;
				align-items: center;
            }

				.settings .settings__item-avatar label i {
					font-size: 1rem;
					color: var(--light);
				}
}