.nav__desktop {
    position: sticky;
    top: 0;
    left: 0;
    
	display: flex;
    flex-direction: column;
	justify-content: center;
    
	height: 100dvh;
    width: 100%;
	
	/* padding: 0.5rem min(1rem, 2vw) 1rem min(3rem, 2vw); */
}

	.nav__desktop a {
		z-index: 99;
	}

/* ---------------------------------- */
/*         		#MENU        		  */
/* ---------------------------------- */

	.nav__desktop ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: var(--light);
		background-color: var(--nav-bg);
		height: 100%;
		border-radius: 0 var(--card-border-radius-dashboard) var(--card-border-radius-dashboard) 0;
		width: 3.55rem;
		overflow: hidden;
	}
	.nav__desktop ul:focus-within,
	.nav__desktop ul:hover {
		width: 10rem;
	}

	@media (prefers-reduced-motion: no-preference) {
		.nav__desktop ul {
			transition: width 0.3s;
		}

		.nav__desktop ul:focus-within,
		.nav__desktop ul:hover {
			transition: width 0.2s ease-in-out;
		}
	}

		.nav__desktop ul li {
			width: 100%;
			display: flex;
			align-items: flex-start;
		}
		
			.nav__desktop ul li a {
				--icon-width: 1.5rem;
				--link-margin: 0.5rem;

				display: flex;
				gap: 1.06rem;
				align-items: center;

				width: calc(100% - (var(--link-margin) * 2));
				height: 3rem;
				margin: .5rem .6rem .5rem var(--link-margin);
				padding-left: calc(1rem - var(--link-margin));

				color: var(--light);
				transition: color .2s ease-in-out;
				border-radius: var(--card-border-radius);
			}
				.nav__desktop ul li a:focus-visible,
				.nav__desktop ul li a:hover {
					background-color: black;
					color: var(--nav-selected);
				}

				.nav__desktop ul li a:focus-visible {
					outline: solid 2px #3584e4;
				}

					.nav__desktop ul li a i {
						font-size: 1.3rem;
						width: var(--icon-width);
						flex-shrink: 0;
						text-align: center;
					}

					.nav__desktop li.profile-icon .profile-pic {
						width: var(--icon-width);
						border-color: var(--light);
						flex-shrink: 0;
					}

					.nav__desktop li.profile-icon .profile-pic img {
						background: var(--nav-bg);
					}

/* ---------------------------------- */
/*            #ACTIVE                 */
/* ---------------------------------- */
/* dat blauwe dingetje aan de rechterkant is echt kkkkkkkkkkkkringe om te maken dus :0 */
.nav__desktop ul li.active > a {
	color: var(--nav-selected);
	font-weight: 900;
}

@media screen and (max-width: 950px) {
	.nav__desktop {
		display: none;
	}
}