.layout__categories > header .project__subtitle:not(:empty) {
    margin-bottom: 1rem;
}

.layout__categories > header svg {
    color: var(--dark);
    width: 1.5rem;
    height: 1.5rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
}

.categories > p {
    font-size: 1rem;
    width: 90%;
    margin: 1.25rem;
    max-width: 70rem;
}

.categories progress {
    --progress-bar-height: 1rem;
}

.categories li {
    padding: 1.25rem;
    border-radius: .75rem;
    border: var(--card-border-style-alt);
    max-width: 70rem;
    display: block;
    container-type: inline-size;
}

    .categories li > a {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .categories a > img {
        max-width: 2rem;
        aspect-ratio: 1/1;
    }

.category__item__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.category__item__content > div {
    display: flex;
    justify-content: space-between;
}

.categories li > a > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.categories li > a > ul > li:last-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checklist__categories h2 {
    color: var(--primary-text);
}

.checklist__categories p {
    color: var(--tertiary-text);
}


.categories li > a > ul > li:last-of-type img {
    width: 0.625rem;
    height: auto;
}

ul.categoryContent > li:first-of-type img{
    width: 3rem;
    height: auto;
    margin-top: 40% ;
    margin-right: 1rem;
}

.category__acc > span {
    display: none;
}

/* When the screen size gets too small, "accessible" causes word wrap */
@media screen and (min-width: 1400px) {
    .category__acc > span {
        display: inline-block;
    }
}

@media screen and (min-width: 950px) {

	.categories li > a > ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    ul.categoryContent > li:first-of-type img{
        width: 3rem;
        margin: 1rem;
    }
    
}