.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
}

.categories > p {
    font-size: 1rem;
    width: 90%;
    margin: 1.25rem;
    max-width: 70rem;
}

.categories progress {
    --progress-bar-height: 1rem;
}

.categories li > a {
    height: clamp(5rem, 12rem, 15rem);
    max-width: 70rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: .75rem;
    border: var(--card-border-style-alt);
    text-decoration: none;

    visibility: visible;
    transform-style: preserve-3d;
    transition: transform .5s;
}

    .categories li > a:focus-visible {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    .categories a > .icon {
        max-width: 2rem;
        aspect-ratio: 1/1;
    }

    .categories li > a > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

        .categories li > a > ul > li:last-of-type{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .categories li > a > ul > li:last-of-type .icon {
            width: 0.625rem;
            height: auto;
        }
        

.category__item {
    position: relative;
}

	.category__item input[id^="flip"] {
		appearance: none;
		position: absolute;
		opacity: 0;
	}

    .category__item input[id^="flip"]:checked ~ a {
        transform: rotateY(180deg);
        transition: transform .5s;
    }

.category__item__front, .category__item__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--dark);
    padding: 1.25rem;
    border-radius: .75rem;
    background-color: var(--primary-bg);
    transform: rotateX(0deg);
}

.category__item__front {
    backface-visibility: hidden;
}

    .category__item__front > .icon {
        font-size: 1.5rem;
    }

.category__item__back {
    transform: scaleX(-1);
}

    .category__item__back > p {
        height: 100%;
        overflow-y: hidden;
        padding-top: 1rem;
    }


/* ---------------------------------- */
/*       little flip icon thingy      */
/* ---------------------------------- */
input[id^="flip"]:focus-visible + label {
	outline: 2px solid var(--primary-color);
	border-radius: 50%;
	outline-offset: 5px;
}

[for^="flip"] {
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 1.4rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }

	[for^="flip"] > svg {
		color: var(--primary-text);
	}

.category__item__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    color: var(--primary-text);
}

    .category__item__content > div {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }

.checklist__categories h2 {
    color: var(--primary-text);
    white-space: normal;
}

.checklist__categories > p {
    color: var(--primary-text);
    margin-bottom: 1rem;
    max-width: calc(100% - 2.8rem);
}

ul.categoryContent > li:first-of-type .icon{
    width: 3rem;
    height: auto;
    margin-top: 40% ;
    margin-right: 1rem;
}

.category__acc > span {
    display: none;
}

/* When the screen size gets too small, "accessible" causes word wrap */
@media screen and (min-width: 1400px) {
    .category__acc > span {
        display: inline-block;
    }
}

@media screen and (min-width: 950px) {

	.categories li > a > ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    ul.categoryContent > li:first-of-type .icon{
        width: 3rem;
        margin: 1rem;
    }
    
}