
.checklist {
	width: 100%;
	max-width: 70rem;
}

    .checklist > ol {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

.checklist__item {
    width: 100%;
}

    .checklist__item > form {
        display: flex;
        gap: 1.25rem;
    }

.checklist__source {
    margin-top: 1rem;
}

/* ---------------------------------- */
/*              CHECKBOX              */
/* ---------------------------------- */

.checklist__item input {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.checklist__item input:focus-visible + label > span {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.checklist__item label {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1.25rem;
    width: 100%;
    padding: 1.25rem;

    border: var(--card-border-style);
    border-radius: var(--card-border-radius);
    background-color: var(--primary-bg);

	cursor: pointer;
}

    .checklist__item label > span {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: var(--card-border-style);
        border-radius: 50%;
    }
    .checklist__item input:checked + label > span {
        border: transparent;
        border: var(--primary-color) solid 2px;

        background: var(--primary-color) url(../images/check.svg) no-repeat center center;
        background-size: 60%;
        background-origin: 50%;
        animation: bounce-in .3s ease-in-out;
    }

/* bounce background size */

@keyframes bounce-in {
    0% {
        background-size: 0%;
    }
    50% {
        background-size: 80%;
    }
    100% {
        background-size: 60%;
    }
}

.checklist__item input:checked + label .checklist__content {
    text-decoration: line-through;
    color: var(--secondary-text);
}

.checklist__item input:checked + label .checklist__content .checklist__users, 
.checklist__item input:checked + label .checklist__content > details {
    display: none;
}   

/* ---------------------------------- */
/*               CONTENT              */
/* ---------------------------------- */

.checklist__content {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

    .checklist__content h4 {
        color: var(--tertiary-text);
    }

    .checklist__content h4 > span {
        color: var(--primary-color);
    }

/* --------- DETAILS ELEMENT -------- */

.checklist__content > details {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: fit-content;
}

    .checklist__content > details a {
        color: var(--primary-color);
        font-style: italic;
        word-break: break-all;
    }

.checklist__content summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    gap: .625rem;
    align-items: center;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    padding: .625rem 1.25rem;
    color: var(--primary-color);
    border-radius: 50rem;
}

    .checklist__content summary:focus-visible {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    .checklist__content summary > p {
		position: relative;
        padding-left: 1.625rem;
		display: flex;
    }
	
	/* if details open */
	.checklist__content > details > summary > p svg {
		width: 1.25rem;
		height: 1.25rem;
		position: absolute;
        top: 50%;
		transform: translateY(-50%);
        left: 0;
		fill: var(--primary-color);
	}

	.checklist__content > details[open] > summary > p svg:first-of-type,
	.checklist__content > details:not([open]) > summary > p svg:last-of-type {
		display: none;
	}

.checklist__content > details img {
	width: 1.25rem;
    height: 1.25rem;
}


.checklist__content > details[open] {
    border-radius: .9375rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 1.25rem;
}


.checklist__content > details[open] > summary {
    padding: 0 0 .625rem 0;
    border: none;
}

.checklist__content > details[open] > summary:focus-visible {
    outline: 2px solid var(--light);
}

.checklist__content > details > ul {
    list-style:  disc;
    margin: .625rem 0 0 1rem;
}

/* ---------------------------------- */
/*                USERS               */
/* ---------------------------------- */

.checklist__users {
    display: flex;
    gap: .625rem;
    align-items: center;
}

    .checklist__users figure {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        border: 1.5px solid var(--primary-color);
    }

        .checklist__users figure img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
