.dialog {
    width: clamp(5rem,100%,28rem);
    border: none;
    border-radius: var(--card-border-radius);
    padding: 2rem;
    scale: 1;
    animation: scaleUp .25s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (prefers-reduced-motion: no-preference) {

    @keyframes scaleUp {
        0% {
            scale: 0;
        }
        100% {
            scale: 1;
        }
    }
    
}

    .dialog > section {
        width: 100%;
        background: var(--primary-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

        .dialog > section > a {
            align-self: start;
            color: var(--primary-color);
            font-weight: 800;
        }
        .dialog > section > a:hover {
            text-decoration: underline var(--primary-color);
        }

    .dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .dialog img {
        width: clamp(5rem, 100%, 30rem);
        max-height: 16rem;
    }

    .dialog .dialog__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .dialog__controls:has(> a:only-child), .dialog__controls:has(> form:only-child) {
        justify-content: center;
    }
