.layout__login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light);
    margin: 0;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login > * {
    width: clamp(14.5rem, 22.5rem, 23.125rem);
}
    .login__title {
        font-size: 1.875rem;
        margin-bottom: 3rem;
    }
    .form__section {
        display: flex;
        flex-direction: column;
    }
    .form__section + .form__section {
        margin-top: 1.25rem;
    }
        .form__section label {
            font-size: 1.125rem;
            font-weight: 700;
        }
        .form__section label + input {
            margin-top: 0.5rem;
        }
        .form__section input {
            font-size: 1rem;
            padding: 0.75rem;
            padding-left: 1.25rem;
            border-radius: 6.25rem;
            border: 0.125rem solid var(--dark);
        }
    .login__forgot {
        text-decoration: none;
        text-align: right;
        margin-top: 0.938rem;
        font-weight: 700;
        color: var(--primary-color);
    }
    .login__submit,
    .login__signup {
        text-decoration: none;
        margin-top: 2.25rem;
        padding: 0.875rem;
        border-radius: 6.25rem;
        font-weight: 700;
        font-size: 1rem;
        background-color: var(--primary-color);
        border: 0.125rem solid var(--primary-color);
        color: var(--light);
    }
    .login__signup {
        display: block;
        text-align: center;
        background-color: var(--light);
        color: var(--primary-color);
        margin-top: 0;
        width: 100%;
    }
    .login__signuptext{
        display: none;
    }
    .login__or{
        margin-top: 1.688rem;
        margin-bottom: 1.688rem;
        text-align: center;
        position: relative;
        color: var(--tertiary-text);
    }
        .login__or::before,
        .login__or::after {
            content: '';
            display: block;
            width: 9.875rem;
            height: 0.063rem;
            background-color: var(--tertiary-text);
            position: absolute;
            top: 50%;
        }
        .login__or::after {
            right: 0;
        }

.login-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: clamp(14.5rem, 22.5rem, 23.125rem); */
}
.login-aside > *:not(svg){
    display: none;
}
    .login-aside svg{
        width: 9.375rem;
        height: 3.313rem;
        margin-top: 1.5rem;
        margin-right: 13.125rem;
    }
    .login-aside svg path{
        fill: var(--primary-color);
    }




 @media screen and (min-width: 950px) {
    .layout__login{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
        .login-aside{
            display: flex;
            justify-content: center;
            height: 100%;
            background-color: var(--primary-color);
            position: relative;
        }
            .login-aside > *:not(svg){
                display: flex;
            }
            .login-aside svg{
                position: absolute;
                bottom: 2.75rem;
                left: 2.75rem;
            }
                .login-aside svg path{
                    fill: var(--light);
                }
            h1{
                color: var(--light);
                font-weight: 700;
                font-size: 2.25rem;
                line-height: 2.588rem;
                width: 29.938rem;
            }
            .login-aside span {
                position: absolute;
                height: 24.5rem;
                aspect-ratio: 1;
                border-radius: 50%;
                border: solid 3px var(--light);
                z-index: 0;
            }
               .login-aside span:first-of-type{
                    bottom: -5.25rem;
                    left: -6.25rem;
                }
                .login-aside span:nth-of-type(2){
                    bottom: 11.75rem;
                    right: -14.25rem;
                }
                .login-aside span:last-of-type{
                    top: -17.25rem;
                    left: 0;
                }
        .login__or{
            display: none;
        }
        .login__signuptext{
            margin-top: 1.125rem;
            font-weight: 700;
            font-size: 1rem;
            display: block;
        }
        .login__signup{
            margin: 0;
            display: inline;
            padding: 0;
            border: 0;
            width: auto;
            position: absolute;
            right: 5rem;
            bottom: 0;
        }
        .login__signup:hover{
            text-decoration: solid underline var(--primary-color);
        }
        .login__register {
            position: relative;
        }
}