.message {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 100%;
    padding: .75rem;
    border-radius: .3rem;
}

.message + *,
* + .message,
.layout__login .message + .form__section:first-of-type {
    margin-top: 1rem;
}

.message--system + *,
* + .message--system,
.layout__login .message--system + .form__section:first-of-type {
    margin-top: 0;
}

label.message + *,
* + label.message,
.layout__login label.message + .form__section:first-of-type {
    margin-top: .5rem;
}


.message.hide { 
    display: none; 
}

    .message p {
        text-align: center;
        margin: 0;
    }

.message--system {
    position: absolute;
    top: .75rem;
    left: 50%;

    transform: translate(-50%, 0);

    max-width: 50%;
    width: auto;

    z-index: 200;
}

.message.animate { 
    transition: all 250ms ease-in-out; 
}

.message.animate--slide {
    /* play animation forwards, wait 2 seconds, play backwards */
    animation: slideAnimation 500ms ease-in-out forwards, slideAnimation 250ms ease-in-out 2s reverse forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translate(-50%, calc(-100% - .75rem));
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.message--error {
    flex-direction: row;
    background: var(--error);
    color: var(--light);
}

.message--error i {
    margin-right: 6px;
}

.message--gen i {
    margin-right: 0;
}

.message--success {
    background: var(--status-bg-done);
    color: var(--status-text-done);
}

.message--warning {
    background: var(--status-bg-wip);
    color: var(--dark);
}

.message--gen {
    color: var(--error);
    padding: 0;

    flex-direction: revert;
    align-items: center;
    /* background-color: hsl(0deg 79.87% 88.22%); */
    background-color: var(--error)!important;
}

    .message--gen i {
        height: 100%;
        background-color: var(--error);
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-bg);
    }

    .message--gen p {
        background-color: var(--primary-bg);
        padding: 6px 12px;
        text-align: left;
        border: 2px solid var(--error);
        border-left: none;
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        width: 100%;
    }