.page-title {
    grid-column: 1 / -1;
}

    .page-title a {
        margin-top: 0.35rem;
    }

    .page-title__subtitle {
        padding: 0.125rem var(--welcome-padding-vertical);
        background-color: var(--primary-color);
        width: fit-content;
        border-radius: 5px;
        text-transform: uppercase;
        color: var(--light);
        margin-bottom: 1rem;
    }

    .page-title i {
        color: var(--primary-text);
		font-size: 1.4rem;
    }

@media screen and (max-width: 950px) {
    .page-title {
        display: none;
    }
}