.project-cards li.card__item {
	--card-min-width: 400px;
	--card-max-width: 500px;
}

.project-cards li.card__item a {
	display: block;
	height: 100%;
	min-width: var(--card-min-width);
	max-width: var(--card-max-width);
	background-color: var(--tertiary);
	color: inherit;
	text-decoration: none;
	padding: 1.55rem 1.875rem;
	border-radius: 1.25rem;
	border: 2px solid var(--secondary);
}

.project-cards li.card__item a header {
	display: flex;
	gap: .5rem;
}

.project-cards li.card__item a header img {
	border-radius: 50%;
	height: 3rem;
}

.project-cards li.card__item a header > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .2rem;
}

.project-cards li.card__item a header > div div.status {
	display: flex;
	align-items: center;
	gap: .2rem;
	color: var(--secondary);
}

.project-cards li.card__item a header > div div.status svg {
	height: 1.125rem;
	stroke: currentColor;
}

.project-cards li.card__item a header > div div.status.new svg {
	color: var(--primary);
}

/* ---------------------------------- */
/*       section with extra info      */
/* ---------------------------------- */
.project-cards li.card__item a section.project-data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 3rem;
	margin: 1rem 0;
}

.project-cards li.card__item a section.project-data div h4 {
	font-weight: normal;
	color: var(--secondary);
}

.project-cards li.card__item a section.project-data div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-cards li.card__item a section.project-data div.team-members span {
	display: flex;
	gap: .4rem;
}

.project-cards li.card__item a section.project-data div.team-members span img {
	border-radius: 50%;
	height: 1.5rem;
	border: 2px solid var(--dark);
}

.project-cards li.card__item a section.progress {
	color: var(--secondary);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-cards li.card__item a section.progress progress[value] {
	--progress-bar-height: 24px;
	--progress-bar-border-radius: calc(var(--progress-bar-height) / 2);
	width: 100%;
	height: var(--progress-bar-height);
	border-radius: var(--progress-bar-border-radius);
	overflow: hidden;
	appearance: none;
	border: solid 2px var(--primary);
	background-color: transparent;
}

.project-cards li.card__item a section.progress progress[value]::-webkit-progress-bar {
	background-color: transparent;
}

/* LAAT DIT ZO STAAN, MET EEN KOMMA WERKT HET NIET FOR SOME REASON, blame webkit of moz */
.project-cards li.card__item a section.progress progress[value]::-moz-progress-bar {
	background-color: var(--primary);
	border-radius: 0 var(--progress-bar-border-radius) var(--progress-bar-border-radius) 0;

}
.project-cards li.card__item a section.progress progress[value]::-webkit-progress-value {
	background-color: var(--primary);
}

/* ---------------------------------- */
/*   styles for create project card   */
/* ---------------------------------- */
.project-cards li.card__item.admin-card a {
	border-color: var(--primary);
	background-color: var(--create-card-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary);
	font-weight: bold;
	font-size: 1.5rem;
}