#searchbar {
    display: block;
    position: relative;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 0 1rem;
    z-index: 2;
}

	#searchbar form {
		--icon-width: 2.3125rem;
        display: flex;
        align-items: center;
        margin: -0.5rem 0 1.5rem;
		position: relative;
    }

        #searchbar i {
			position: absolute;
			left: calc(var(--icon-width) / 2);
			top: 50%;
			transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #searchbar input {
            width: 100%;
            padding-left: calc(var(--icon-width) +  0.25rem);
			background-color: var(--primary-bg);
			border: 2px solid var(--primary-color);
			border-radius: 2rem;
        }
        #searchbar input::placeholder {
            font-size: 1rem;
        }

		#searchbar input:focus {
			outline: solid 2px var(--primary-text);
		}

/* autocomplete items */
#searchAutocompleteList {
    max-height: 7.2em;
    margin-top: 0.4em;
    overflow-y: auto;
    border: none;
}

.autocompleteItems {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--dark);
    border-bottom: none;
    border-top: none;
    z-index: 99;
}

    .autocompleteItems li {
        padding: 10px;
        background-color: var(--light);
        border: 1px solid var(--dark);
        border-top: none;
        cursor: pointer;
    }
    .autocompleteItems li:hover {
        background-color: #E9E9E9;
    }

    .autocompleteActive {
        color: var(--light);
        background-color: var(--dark) !important;
    }

/* add on mobile */
@media screen and (max-width: 950px) {
    
    #searchbar {
        padding: 0 1.5rem;
        background: linear-gradient(to bottom, var(--primary-color) 70%, transparent 30%);
    }
	#searchbar::before,
    #searchbar::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 1.85rem;
        height: 1.75rem;
        background-color: var(--primary-bg);
        z-index: -1;
    }
    #searchbar::before {
        left: 0;
        border-radius: 0 100% 0 0; 
    }
    #searchbar::after {
        right: 0;
        border-radius: 100% 0 0 0; 
    }
}