#searchbar {
    display: block;
    position: relative;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 0 1rem;
    z-index: 2;
}

	#searchbar form {
		--icon-width: 2.3125rem;
        display: flex;
        align-items: center;
        margin: -0.5rem 0 1.5rem;
		position: relative;
    }

        #searchbar i {
			position: absolute;
			left: calc(var(--icon-width) / 2);
			top: 50%;
			transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #searchbar input {
            width: 100%;
            padding-left: calc(var(--icon-width) +  0.25rem);
			background-color: var(--primary-bg);
			border: 2px solid var(--primary-color);
			border-radius: 2rem;
        }
        #searchbar input::placeholder {
            font-size: 1rem;
        }

		#searchbar input:focus {
			outline: solid 2px var(--primary-text);
		}

		#searchbar form:has(ul.autocomplete-items:not(:empty)) input:focus,
		#searchbar form:has(ul.autocomplete-items:not(:empty)):focus-within input {
			border-radius: 2rem 2rem 0 0;
			outline: none;
		}


.autocomplete-items {
	--item-height: 2.5rem;
	max-height: calc(var(--item-height) * 3);
	overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
	border-radius: 0 0 2rem 2rem;
	scroll-snap-type: y mandatory;
}

.autocomplete-items:not(:empty) {
	border: 1px solid var(--primary-text);
}

    .autocomplete-items li {
		background-color: var(--primary-bg);
        border: 1px solid var(--primary-text);
        border-top: none;
		scroll-snap-align: start;
    }
	.autocomplete-items li a {
		display: flex;
		align-items: center;
		padding: 0 1rem;
		height: var(--item-height);
		color: var(--primary-text);
	}

	.autocomplete-items li a:hover,
	.autocomplete-items li a:focus-visible {
		background-color: var(--primary-color);
		color: var(--light);
	}

/* add on mobile */
@media screen and (max-width: 950px) {
    
    #searchbar {
        padding: 0 1.5rem;
        background: linear-gradient(to bottom, var(--primary-color) 70%, transparent 30%);
    }
	#searchbar::before,
    #searchbar::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 1.85rem;
        height: 1.75rem;
        background-color: var(--primary-bg);
        z-index: -1;
    }
    #searchbar::before {
        left: 0;
        border-radius: 0 100% 0 0; 
    }
    #searchbar::after {
        right: 0;
        border-radius: 100% 0 0 0; 
    }
}